  <ng-template [ngIf]="showLoading">
    <div   class="modal fade in" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    style="display: block;">
      <div class="modal-dialog modal-xxs" role="document" style="position: relative;top: 40%;">
        <div class="modal-content">
          <div class="modal-body">
            <p class="loading-text"><img src="assets/img/loader.png" alt="">Chargement...</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

